/* start global rules */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-image: linear-gradient(rgb(0, 0, 0),#12195a);
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
:root {
    --main-color: #2196f3;
    --main-color-alt: #1787e0; 
    --main-transations: 0.3s;
    --section-background: #ececec;
    --box-color: #00000050;
    --border-box: #ffffff29;
    --white-color: #fff;
    --section-padding: 100px
}
html {
    scroll-behavior: smooth;
}
.container {
    margin: 0 auto;
    padding: 0 15px;
}
@media (min-width: 767px) {
    .container {
        width: 750px;
    }
}
/* medium */ 
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* large */ 
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* start main heading */
.main-heading {
    text-align: center;
}
.main-heading h2 {
    position: relative;
    width: fit-content;
    color: var(--white-color);
    font-size: 50px;
    margin: 0 auto 60px;
}
.main-heading h2::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-image: linear-gradient(to right, var(--main-color-alt), transparent);
    top: 120%;
    left: 50%;
    transform: translatex(-50%);
    -webkit-transform: translatex(-50%);
    -moz-transform: translatex(-50%);
    -ms-transform: translatex(-50%);
    -o-transform: translatex(-50%);
}
@media (max-width: 767px) {
    .main-heading h2 {
        font-size: 35px;
    }
} 
/* end main heading */
/* end global rules */
/* start header */
.header {
    position: sticky;
    z-index: 1000;
    top: 10px;
    background-color: transparent;
}
.header .container {
    display: flex;
    align-items: center;
    background-color: #16151a;
    box-shadow: 0px 0px 2px 0px var(--main-color);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
@media (max-width: 767px) {
    .header .container {
        flex-direction: column;
        width: 90%;
        border-radius: 40px;
        -webkit-border-radius: 40px;
        -moz-border-radius: 40px;
        -ms-border-radius: 40px;
        -o-border-radius: 40px;
}
}
header .nav-bar {
    flex: 1;
}
header .logo {
    color: var(--main-color);
    font-size: 30px;
    text-shadow: 0 0 10px var(--main-color);
}
@media (max-width: 767px) {
    header .logo {
        font-size: 25px;
        margin-top: 10px;
    }
}
header .nav-bar ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
header .nav-bar ul li a {
    position: relative;
    display: block;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    transition: var(--main-transations);
    -webkit-transition: var(--main-transations);
    -moz-transition: var(--main-transations);
    -ms-transition: var(--main-transations);
    -o-transition: var(--main-transations);
    /* overflow: hidden; */
}
header .nav-bar ul li a::before {
    content: '';
    position: absolute;
    width: 0px;
    height: 2px;
    top: 100%;
    left: 50%;
    transform: translatex(-50%);
    background-color: var(--main-color);
    -webkit-transform: translatex(-50%);
    -moz-transform: translatex(-50%);
    -ms-transform: translatex(-50%);
    -o-transform: translatex(-50%);
    transition: var(--main-transations);
    -webkit-transition: var(--main-transations);
    -moz-transition: var(--main-transations);
    -ms-transition: var(--main-transations);
    -o-transition: var(--main-transations);
}
header .nav-bar ul li a.active {
    color: var(--main-color);
}
header .nav-bar ul li a:hover::before {
    width: 50%;
}
header .nav-bar ul li a:hover,
header .nav-bar ul li a:focus {
    color: var(--main-color-alt);
}
@media (max-width: 767px) {
    header .nav-bar ul li a {
        padding: 10px;
    }
}
/* end header */
/* start home page  */
.home-page {
    height: 100vh;
}
.home-page .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
@media (max-width: 767px) {
    .home-page .container {
        flex-direction: column-reverse;
        gap: 30px;
        padding-top: 30px;
    }
}
.home-page .container > div {
    flex: 1;
    color: var(--white-color);
}
.home-page .container .home-content h1 {
    font-size: 35px;
    margin: 0 0 20px 0;
}
@media (max-width: 767px) {
    .home-page .container .home-content {
        text-align: center;
    }
}
.home-page .container .home-content p{
    font-size: 25px;
    margin-bottom: 30px;
}
.home-page .container .home-content p span {
    color: var(--main-color);
    font-weight: 700;
}
.home-page .container .home-content .icons {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: flex-start;
}
.home-page .container .home-content .icons a {
    color: var(--white-color);
    background-color: var(--main-color);
    transition: var(--main-transations);
    -webkit-transition: var(--main-transations);
    -moz-transition: var(--main-transations);
    -ms-transition: var(--main-transations);
    -o-transition: var(--main-transations);
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 0px var(--main-color);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.home-page .container .home-content a:hover {
    background-color: var(--main-color-alt);
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.home-page .container .image img {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    /* box-shadow: 0px 0px 20px 0px var(--main-color); */
}
.home-page .container .image {
    display: flex;
    justify-content: flex-end;
}
@media (max-width: 767px) {
    .home-page .container .image img {
        width: 300px;
        height: 300px;
    }
    .home-page .container .home-content .icons {
        justify-content: center;
    }
}
/* end home page  */
/* start about */
.about {
    padding: var(--section-padding) 0;
}
.about .about-content .text {
    color: var(--white-color);
    text-align: center;
}
.about .about-content .text h3 {
    color: var(--main-color);
    font-size: 30px;
    margin-bottom: 20px;
}
.about .about-content .text p {
    line-height: 1.8;
    margin-bottom: 20px;
    font-size: 20px;
    width: 600px;
    max-width: 100%;
    color: #ddd;
    margin: 0 auto;
}
/* end about */
/* start skills */
.skills {
    padding: var(--section-padding) 0;
}
.skills .container .boxes {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    gap: 20px;
}
.skills .container .boxes .box {
    padding: 20px;
    background-color: var(--box-color);
    color: var(--white-color);
    text-align: center;
    font-size: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: 1px solid var(--border-box);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: var(--main-transations);
    -webkit-transition: var(--main-transations);
    -moz-transition: var(--main-transations);
    -ms-transition: var(--main-transations);
    -o-transition: var(--main-transations);
}
.skills .container .boxes .box:hover {
    border: 1px solid var(--main-color);
}
.skills .container .boxes .box:hover span {
    color: var(--main-color);
}
.skills .container .boxes .box span {
    transition: var(--main-transations);
    -webkit-transition: var(--main-transations);
    -moz-transition: var(--main-transations);
    -ms-transition: var(--main-transations);
    -o-transition: var(--main-transations);
    font-size: 25px;
}
.skills .container .boxes .box i {
    font-size: 30px;
    margin-bottom: 10px;
}
/* end skills */
/* start projects */
.projects {
    padding: var(--section-padding) 0;
}
.projects .container .boxes {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
    gap: 20px;
}
.projects .container .boxes .box {
    background-color: var(--box-color);
    border: 1px solid var(--border-box);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    overflow: hidden;
    transition: var(--main-transations);
    -webkit-transition: var(--main-transations);
    -moz-transition: var(--main-transations);
    -ms-transition: var(--main-transations);
    -o-transition: var(--main-transations);
}
.projects .container .boxes .box:hover {
        box-shadow: 0px 0px 5px 0px var(--main-color);
        transform: translateY(-3px);
        -webkit-transform: translateY(-3px);
        -moz-transform: translateY(-3px);
        -ms-transform: translateY(-3px);
        -o-transform: translateY(-3px);
}
.projects .container .boxes .box img {
    width: 100%;
    max-width: 100%;
}
.projects .container .boxes .box .info {
    padding: 20px;
}
.projects .container .boxes .box .info h3 {
    color: var(--main-color);
    margin-bottom: 10px;
}
.projects .container .boxes .box .info p {
    color: var(--white-color);
    margin-bottom: 30px;
}
.projects .container .boxes .box .info div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.projects .container .boxes .box .info a {
    padding: 10px;
    background-color: var(--main-color);
    color: var(--white-color);
    box-shadow: 0px 0px 10px 0px var(--main-color);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    transition: var(--main-transations);
    -webkit-transition: var(--main-transations);
    -moz-transition: var(--main-transations);
    -ms-transition: var(--main-transations);
    -o-transition: var(--main-transations);
}
.projects .container .boxes .box .info a:hover {
    background-color: var(--main-color-alt);
}
/* end projects */
/* start contact */
.contact {
    padding: var(--section-padding) 0;
}
.contact .container {
    display: flex;
    align-items: center;
}
@media (max-width: 767px) {
    .contact .container {
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
    }
}
.contact .container .info {
    flex: 1;
}
.contact .container .info h3 {
    color: var(--main-color);
    font-size: 35px;
    margin-bottom: 20px;
}
.contact .container .info p {
    color: #eeeeee;
    margin-bottom: 20px;
    font-size: 20px;
}
@media (min-width: 768px) {
    .contact .container .info p {
        width: 70%;
    }
}
.contact .container .info div:first-of-type {
    margin-bottom: 10px;
}
.contact .container .info div {
    width: fit-content;
    transition: var(--main-transations);
    -webkit-transition: var(--main-transations);
    -moz-transition: var(--main-transations);
    -ms-transition: var(--main-transations);
    -o-transition: var(--main-transations);
}
.contact .container .info div a {
    color: var(--white-color);
}
.contact .container .info div a i {
    margin-right: 10px;
}
.contact .container .info div:hover {
    transform: translateX(3px);
    -webkit-transform: translateX(3px);
    -moz-transform: translateX(3px);
    -ms-transform: translateX(3px);
    -o-transform: translateX(3px);
}
.contact .container .info div:hover a {
    color: var(--main-color);
    text-decoration: underline;
}
.contact .container form {
    max-width: 100%;
    width: 500px;
    padding: 20px;
    background-color: var(--box-color);
    border: 1px solid var(--box-color);
    border-radius: 10px;
    transition: var(--main-transations);
    -webkit-transition: var(--main-transations);
    -moz-transition: var(--main-transations);
    -ms-transition: var(--main-transations);
    -o-transition: var(--main-transations);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.contact .container form:hover {
    border: 1px solid var(--main-color);
}
.contact .container form input,
.contact .container form textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    background-color: transparent;
    border: 1px solid var(--border-box);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: var(--main-transations);
    -webkit-transition: var(--main-transations);
    -moz-transition: var(--main-transations);
    -ms-transition: var(--main-transations);
    -o-transition: var(--main-transations);
    color: var(--white-color);
}
.contact .container form textarea {
    resize: none;
    height: 150px;
}
.contact .container form input:focus,
.contact .container form textarea:focus {
    outline: none;
    border: 1px solid var(--main-color);
}
.contact .container form input:focus::placeholder,
.contact .container form textarea:focus::placeholder {
    color: var(--white-color);
}
.contact .container form input::placeholder,
.contact .container form textarea::placeholder {
    color: var(--border-box);
    font-size: 14px;
    font-style: italic;
}
.contact .container form button {
    background-color: var(--main-color);
    color: var(--white-color);
    border: 1px solid var(--main-color);
    padding: 10px;
    margin:  0 auto;
    display: block;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    transition: var(--main-transations);
    -webkit-transition: var(--main-transations);
    -moz-transition: var(--main-transations);
    -ms-transition: var(--main-transations);
    -o-transition: var(--main-transations);
}
.contact .container form button:hover {
    transform: translateY(-3px);
    -webkit-transform: translateY(-3px);
    -moz-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    -o-transform: translateY(-3px);
    box-shadow: 0px 0px 10px 0px var(--main-color);
}
/* end contact */
/* start footer */
footer {
    padding: 20px;
    border-top: 1px solid var(--border-box);
    text-align: center;
    color: var(--white-color);
}
/* end footer */